@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

.card {
    background: linear-gradient(to right, #ffd28e, #f8cbfa); 
}

.card .card-versus{
    background: linear-gradient(to right, #a664fc, #4d2175); 
}

.card .card-content {
    font-family: 'Heebo', sans-serif;
    padding: 6px;
    margin-left: 10px;
}
 
.area{
    color: rgb(2, 0, 139);
    font-size: 24px;
}

.versus{
    text-align: center;
    color: white;
    margin: 0px auto;
}

.versus-title{
    font-size: 20px;
    text-decoration: underline;
}

img {
    display: block;
    object-fit: cover;
  }

  .col .card-versus {
      margin-top: -8px;
  }

.text-center{
    margin: 0px;
}

.text-left{
    font-weight: bold;
    text-align: left;
    font-size: 22px;
}

.text-right{
    font-weight: bold;
    text-align: right;
    font-size: 22px;

}

.title-league{
    font-size: 24px;
}

.img-place {
  border-radius: 50%;
}

.btn-detail{
    width: 20px;
    border: 1px solid white;
    background-color: #4d2175;
    padding: 0 100px 0 100px;
    border-radius: 10px;
    color: wheat;
}

.breadcrumb-save{
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .card .card-versus{
        background: linear-gradient(to right, #a664fc, #4d2175); 
        margin: 0px auto;
    }

    .text-left{
        font-weight: bold;
        text-align: center;
        font-size: 22px;
    }
    
    .text-right{
        font-weight: bold;
        text-align: center;
        font-size: 22px;
    
    }

    .img-place {
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .link-detail{
          margin-left: 10px;
      }

      .btn-detail{
        width: 20px;
        border: 1px solid white;
        background-color: #4d2175;
        padding: 0 100px 0 100px;
        border-radius: 10px;
        color: wheat;
    }
  }